body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
}

.sign {
    display: block;
}

.one {
    display: flex;
}

ul {
   list-style-type: none; 
   display: flex;
   justify-content: space-between;
   padding: 0;
   gap: 16px;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    display: flex;
    flex-wrap: wrap;
}

.images {
    display: flex;
}