body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13%;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    color: #1F2937 ;
    font-weight: 900;
}

h3 {
    margin: 0;
}

.one {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 30%;
    padding: 3% 13%;
}

.two {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 32px 0 32px;
    align-items: center;
    margin: 0 0 2% 0;
}

.three {
    display: flex;
    text-align: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    flex-direction: column;
    padding: 5% 21%;
}

.three p {
    text-align: start;
}

.quote {
    font-size: 24px;
    font-weight: 900;
    padding: 0 48px 0 0;
}

.four {
    display: flex;
    background-color: #3882F6;
    margin: 5% 15%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px; ;
    padding: 32px;
}

.four .text {
    margin: 16px;
    color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 32px;
}

button {
    border-radius: 5px;
    border: 0px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
}

.four button {
    border: 1px solid #F9FAF8;
}

.sign {
    display: block;
}

ul {
   list-style-type: none; 
   display: flex;
   justify-content: space-between;
   padding: 0;
   gap: 16px;
   color: #E5E7EB;
   font-size: 18px;
   font-weight: normal;
}

a {
    color: white;
    text-decoration: none;
}

.quote {
    text-align: end;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 212px;
}

.images {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.image img {
    border-radius:  20px;
    border: 5px solid #3882F6;
    margin-bottom: 8px;
}