body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 0;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13% 0 13%;
    background-color: #1F2937;
    color: white;
}

.one {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 0 13% 0 13%;
}

.two {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 32px 0 32px;
}

.three {
    display: flex;
    text-align: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    flex-direction: column;
}

.four {
    display: flex;
    background-color: #3882F6;
    margin: 5%;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 16px;
}

button {
    border-radius: 20%;
}

.sign {
    display: block;
}

ul {
   list-style-type: none; 
   display: flex;
   justify-content: space-between;
   padding: 0;
   gap: 16px;
   color: white;
}

li {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.quote {
    text-align: end;
}

.main {
    display: flex;
    flex-direction: column;
}

.image {
    display: inline-block;
    text-align: center;
}

.images {
    display: flex;
    gap: 8px;
}

.image img {
    border-radius:  5px;
    border: 5px solid #3882F6;
}