body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25% 0 25%;
    background-color: #1F2937;
    color: white;
}

.one {
    display: flex;
    background-color: #1F2937;
    color: white;
    
}

.two {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 32px 0 32px;
}

.four {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 16px;
}

.sign {
    display: block;
}

ul {
   list-style-type: none; 
   display: flex;
   justify-content: space-between;
   padding: 0;
   gap: 16px;
   color: white;
}

li {
    color: white;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.image {
    display: inline-block;
    text-align: center;
}

.images {
    display: flex;
    gap: 8px;
}